  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
/* cabeçalho */
header {
 background-color: #3db36b;
 color:#fff;
 padding: 15px;
 text-align: center;
 border-bottom: 3px solid #0f642f;
}


/* Grid de Prdutos */
.container {
  background-color: #eee;
  min-height: 60vh;
  padding: 50px;
}

.products-container {
max-width: 1200px;
margin: 0 auto;
}

.card {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
  
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    
}

#imag-1 {
   background-image: url('../img/tenis1.jpg');
 }

 #imag-2 {
    background-image: url('../img/tenis2.jpg');
  }

  #imag-3 {
    background-image: url('../img/tenis3.jpg');
  }

  #imag-4 {
    background-image: url('../img/tenis4.jpg');
  }

  #imag-5 {
    background-image: url('../img/tenis5.jpg');
  }

  #imag-6 {
    background-image: url('../img/tenis6.jpg');
  }

 h3 { 
  margin-bottom: 10px;
  color:#3db36b;
  border-left: 5px solid #0f642f;
  padding-left: 7px;
  font-size: 24px;
 }

 .card p {
    margin-bottom: 10px;
 }

 .bold {
     font-weight: bold;
 }

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3db36b;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover {
    background-color: #0f642f;
}

/* footer */
footer {
    background-color: #3db36b;
    color:#fff;
    border-top: 3px solid #0f642f;
    text-align: center;
    padding: 80px; 
 }




